<html>
	<head>
		<title>Random Movie Trailer</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="title"><h1>Random Movie Trailer</h1></div>
		<div id="container">
			<div id="trailer-container">
				<div>
					<iframe width="560" height="315" src="{{trailerURL}}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div id="movie-information">
				<h1>{{title}}</h1>
				<p><div id="scores">Critics Score: {{criticsScore}} Users Score: {{usersScore}}</div></p>
			</div>
		</div>
	</body>
</html>
